.web-title {font-size: 30px;
    text-align: center;
    font-weight: 100;
}
.just-text{
    color: green;
    padding: 100px;
    text-align: center;
    background-color: wheat;
}
.container{
    border: 2px yellow solid;
}